name: CI Pipeline
run-name: ${{ github.actor }} initiated a workflow run.
on:
  push:
    branches:
      - "**"
  pull_request:
  workflow_dispatch:
jobs:
  Unit_Test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install Dependencies
        run: |
          npm ci

      - name: Run Self-Designed Unit Tests
        continue-on-error: true
        run: |
          echo "Running self-designed unit tests..."
          npm run test:designedByElli
          npm run test:designedByOtto

      - name: Run AI-Generated Unit Tests
        continue-on-error: true
        run: |
          echo "Running AI-Generated unit tests..."
          npm run test:AIGeneratedByElli
          npm run test:AIGeneratedByOtto

      - name: Generate Coverage Report
        run: |
          echo "Generating Coverage Report..."
          npm run test:coverage

      - name: Upload coverage to Coveralls
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ./coverage/lcov.info

